.contactDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.contactSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #25273d;
}
.contactText {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgba(255, 255, 255, 0.452);
  & h1 {
    font-size: 60px;
    font-weight: 500;
    color: black;
    font-family: cursive;
  }
  & p {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: black;
  }
}
.contactbottom {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background-color: lightgray;
}
.contactlogo {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  background-color: #f1f1f1;
}
.socialmedia {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email {
  display: flex;
  gap: 10px;
}
.phone {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
